<div class="container">
	<h2 style="text-align: center;">団体一覧</h2>
	<div><%= link_to "新規に団体を登録する",new_team_registration_path,class: "btn btn-lg btn-primary" %></div>
    <hr>
    <h3>表示する団体を条件で絞る</h3>
    <%= search_form_for @q do |f| %>
        <p><%= f.label :name, "団体名" %>
        <%= f.search_field :name_cont %></p>
        <p><%= f.label :volume, "参加人数" %>
        <%= f.number_field :volume_gteq %>人以上〜
        <%= f.number_field :volume_lt %>人未満</p>
        <p><%= f.label :universities, "大学" %>
        <%= f.check_box :universities_id_eq,"",{:checked => "checked"}%>
        <% @universities.each do |u| %>
		    <%= f.check_box :universities_id_eq_any, { multiple: true }, u.id ,checked: true %> <%#= u.name %>
	    <% end %></p>
        <%# University.all.each do |u| %>
        <%#= check_box_tag('q[universities_id_eq_any][]', u.id,checked: true ) %>
        <%#= u.name %>
        <%# end %>



    <p><%= f.submit "検索" %></p>
    <% end %>
		<div class="event_list">
		<% @teams.each do |t| %>
			<div class="event_box">
				<div class="row">
					<div class="col-sm-2 col-md-2">
					</div>
					<div class="col-sm-8 col-md-8">
                        <p class="pyramid_parent">
                            <p class="title_box">団体名</p>
							<p class="content_box"><%= t.name %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">活動日時</p>
							<p class="content_box"><%= t.date %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">活動場所</p>
							<p class="content_box"><%= t.prace %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">人数</p>
                            <p class="content_box"><%= "およそ#{t.volume}人" %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">内容</p>
                            <p class="content_box"><%= t.content %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">自由記入欄</p>
                            <p class="content_box"><%= t.free %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">詳細リンク</p>
                            <p　class="content_box"><%= link_to t.rink, target: :_blank %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">参加大学</p>
                            <p　class="content_box col-xs-3 col-lg-2 university_tag">
                                <% t.team_universities.each do |tu| %>
		                            <%= @universities.find(tu.university_id).name %>
	                            <% end %>
                            </p>
                        </p>
                            <p class="bottom_rink"><%= link_to("団体の詳細ページへ", team_path(t.id)) %></p>
					</div>
					<div class="col-sm-2 col-md-2">
						<!--div style="margin-bottom: 10px;"><= e.created_at.strftime("%Y年%-m月%-d日") ></div-->
					</div>
				</div>
			</div>
		<% end %>
        </div>
	</div>
</div>
