<h2>新規登録</h2>
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-md-2"></div>
        <div class="col-md-8">
      <div class="field">
        <%= f.label :name,"団体名" %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email,"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password,"パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation,"パスワードの確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :volume ,"人数"%><br />
        およそ<%= f.number_field :volume, autofocus: true, autocomplete: "20" %>人
      </div>
      <div class="field">
        <%= f.label :date ,"活動日時"%><br />
        <%= f.text_field :date, autofocus: true, autocomplete: "2019年10月3日　18~20時" %>
      </div>
      <div class="field">
        <%= f.label :prace,"活動場所" %><br />
        <%= f.text_field :prace %>
      </div>
      <div class="field">
        <%= f.label :content,"活動内容" %><br />
        <%= f.text_area :content %>
      </div>
      <div class="field">
        <%= f.label :rink,"リンク" %><br />
        <%= f.text_field :rink, autofocus: true, autocomplete: "https://example.com" %>
      </div>
      <div class="field">
      <br>
        <%= f.label :free,"自由記入欄" %><br />
        <%= f.text_area :free %>
      </div>
      <%#= f.fields_for :team_universities do |al| %><!-- ここから子レコードteam_universitiesに入力する内容 -->
      <!--以下１：他の子モデルteam_universityへ入力する内容 -->
      <br>
      <%#= f.fields_for :team_university, resource.team_universities || TeamUniversity.new do |al| %><!--teamモデルに送るform_forとは別にteam_universityに送るフォームを作成。resource(team)の子team_univesityを１対他で作成 -->
        <div class="form-group">
          <%= f.collection_check_boxes(:university_ids, University.all, :id, :name, include_hidden: false) do |b| %>
              <%= b.label { b.check_box + b.text } %>
          <% end %>
        </div>
      <%# end %><!-- ここまでが子レコードteam_universitiesに入力する内容 -->

      <div class="actions">
       <%= f.submit "登録",class: 'btn btn-primary ' %>
      </div>
      <br>
    <% end %>
</div>
<%= render "teams/shared/links" %>