<div class="container">
	<h2 style="text-align: center;">イベント詳細</h2>
	<div><%= link_to "イベント一覧に戻る",event_pages_path, class: "btn btn-primary" %></div>
    <hr>
		<div class="event_list">
			<div class="event_box">
				<div class="row">
					<div class="col-sm-2 col-md-2">
						<div class="align_center">< @event.team.name ></div>
					</div>
					<div class="col-sm-8 col-md-8">
                        <p class="pyramid_parent">
                            <p class="title_box">イベント名</p>
							<p class="content_box"><%= @event.name %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">開催日時</p>
							<p class="content_box"><%= @event.date %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">開催場所</p>
							<p class="content_box"><%= @event.locate %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">参加費</p>
                            <p class="content_box"><%= "#{@event.price}円" %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">内容</p>
                            <p class="content_box"><%= @event.detail %></p>
                        </p>
                        <p class="pyramid_parent">
                            <p class="title_box">詳細リンク</p>
                            <p　class="content_box"><%= link_to @event.rink,target: :_blank %></p>
                        </p>
					</div>
					<div class="col-sm-2 col-md-2">
						<div style="margin-bottom: 10px;"><%= @event.created_at.strftime("%Y年%-m月%-d日") %></div>
					</div>
				</div>
                <p ><%=link_to "編集する",edit_event_page_path(@event), class: 'btn btn-primary' %></p>
                <br/>
                <p ><%=link_to "削除する",event_page_path(@event) ,method: :delete, class: 'btn btn-primary' %></p>
			</div>
        </div>
	</div>
</div>
