<!DOCTYPE html>
<html>
  <head>
    <title>NagoyaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if team_signed_in? %>
      ログインユーザー： <%= current_team.email %>
      <%= link_to 'アカウント変更', edit_team_registration_path %>
      <%= link_to "ログアウト", destroy_team_session_path %>
      <%= link_to "団体一覧", teams_path %>
    <% else %>
      <%= link_to "TOP画面", root_path %>
      <%= link_to "新規作成", new_team_registration_path %>
      <%= link_to "ログイン", new_team_session_path %>
      <%= link_to "団体一覧", teams_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
